.header {
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    justify-content: center;
}

h1 {
    color: black;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
body {
    /* background-image: url(./Images/Untitled_Artwork.png); */
    background-color: white;
}

p {
    color: black;
    border-style: inset;
    border-color: grey;
}

.topBanner {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    justify-content: center;
}

div {
    display: flex;
    justify-content: center;
    white-space: pre;
  }

aside {
    display: flex;
    justify-content: flex-end;
}

img {
    float: right;
    justify-content: right;
}

li{
    list-style: none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
