a {
    justify-content: center;
}

body {
    /* background-image: url(./Images/Untitled_Artwork.png); */
    background-color:white;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    justify-content: center;
}

div {
    display: flex;
    justify-content: left;
    white-space: pre;
}

.header {
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    justify-content: center;
}

li{
    list-style: none;
}

.menu_item {
    float: left;
    padding: 5px;
}

.menu {
    justify-content: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.topBanner {
    color:black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    justify-content: center;
    display: flex;
}